page-home{
  @import url('https://fonts.googleapis.com/css?family=Pacifico');
  .bg {
    height: 100%;
    width: 100%;
    padding-top: 12px;
    background: linear-gradient(180deg, rgba(0,0,0,0.98) 1.48%, rgba(3,62,119,0.68) 12.58%,
      rgb(1, 10, 50) 89.52%), url('../assets/imgs/bg.jpg');
  }
  .card1{
    height: 180px;
  }
  .ci{
    font-size: 16px!important;
    font-weight: lighter!important;
    font-family: 'Pacifico', cursive;
  }
  .img{
    width: 40px;
    border-radius: 8px;
  }
  .myImg1{
    width: 70%;
    margin: auto;
  }

  .ion-card {
    position: relative;
    text-align: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Canterell, 'Open San', 'Helvetica Neue', sans-serif;
  }



  .card-title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 36%;
    font-size: 1.9em !important;
    width: 100%;
    font-weight: bold;
    color: #fff !important;
    text-shadow: 2px 4px 6px #1c1c1c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Canterell, 'Open San', 'Helvetica Neue', sans-serif;
  }

  .card-subtitle {

    font-size: 1.4em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 4px 6px #1c1c1c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Canterell, 'Open San', 'Helvetica Neue', sans-serif;
  }

  p{
    color: #fff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Canterell, 'Open San', 'Helvetica Neue', sans-serif;
  }

  .iconCard{
    color: #fff !important;
  }

  ion-card {
    //padding: 0 !important;
    width: 100% !important;
  }

  .card-md {
    margin: 0px !important;
  }
}
