page-settings {
  @import url('https://fonts.googleapis.com/css?family=Pacifico');
  .bg {
    height: 100%;
    width: 100%;
    padding-top: 12px;
    background: url('../assets/imgs/bg.jpg');

  }
  .ci{
    font-size: 16px!important;
    font-weight: lighter!important;
    font-family: 'Pacifico', cursive;
  }
  p{
    color: #ffffff !important;
  }
  ion-input{
    border-color: #007aff;
    color: #1c1c1c !important;
    background: #f9f9f9 !important;
    border-radius: 6px;
  }

  .btn{
    border-radius: 9px !important;
    margin-bottom: 13px !important;
  }
  .it{
    color: #f9f9f9 !important;
  }
  ion-grid{
    padding-top: 12px;
    border-radius: 9px !important;
    background: rgba(0, 0, 0, 0.5);
  }

  .ico{
    width: 50px !important;
  }
}
