page-menu {
  .bg {
    height: 100%;
    width: 100%;
    padding-top: 12px;
    background: linear-gradient(180deg, rgba(0,0,0,0.98) 1.48%, rgba(3,62,119,0.68) 12.58%,
      rgb(210, 17, 83) 89.52%), url('../assets/imgs/bg.jpg');
  }
}
