<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="pink">
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen class="bg">
    <img src="assets/imgs/competitions/ufa.jpg">
    <ion-list>
      <ion-item *ngIf="userData" >
        <ion-avatar item-start>
          <img [src]="userData.picture">
        </ion-avatar>
        <p> {{userData.username}}</p>
      </ion-item>


      <ion-item *ngIf="mode =='admin'" >
        <ion-avatar item-start>
          <img src="assets/icon/user.png">
        </ion-avatar>
        <p> admin | Sagesse</p>
      </ion-item>
    <button ion-item icon-start (click)="onNavigatePage(rootPage)">
      <ion-icon name="home" color=""></ion-icon>
      Acceuil
    </button>
    <button ion-item icon-start (click)="onNavigatePage(equipePage)">
      <ion-icon name="people" color=""></ion-icon>
      Equipe
    </button>
      <button *ngIf="mode =='admin'" ion-item icon-start (click)="onNavigatePage(settingsPage)">
        <ion-icon name="add" color=""></ion-icon>
        add news
      </button>
    <button ion-item icon-start (click)="onNavigatePage(help)">
      <ion-icon name="help" color=""></ion-icon>
      A-propos
    </button>
    <button ion-item icon-start (click)="Deconnexion()">
      <ion-icon name="redo" ></ion-icon>
      Déconnexion
    </button>
      <button ion-item icon-start  (click)="Exit()">
        <ion-icon name="power" color="pink"></ion-icon>
        Quitter
      </button>
  </ion-list>
</ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
